.social-icon {
    width: 20px;
    height: 20px;
}

.coinbase-text {
    color: #0054FF;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.coinbase-icon {
    margin-left: 10px;
}