<div class="order-book-box">
  <div class="price-pair-row inner-row body body">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row inner-row body body">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row inner-row body body">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
  <div class="price-pair-row">
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-long"        
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price-level-size">99,027</span>
        <span class="price">25,669.00</span>
      </div>
    </div>
    <div class="sc-gsFSXq bukPJs">
      <div
        class="depth-visualizer depth-visualizer-short"
      ></div>
      <div data-testid="price-level-row" class="price-level-row">
        <span class="price">25,669.00</span>
        <span class="price-level-size">99,027</span>
      </div>
    </div>
  </div>
</div>
