<div class="Modal PositionSeller-modal" style="opacity: 1;"><div
        class="Modal-backdrop" style="overflow: hidden; position: fixed;"></div><div
        class="Modal-content"><div class="Modal-header-wrapper"><div
                class="Modal-title-bar"><div class="Modal-title">Close Long ETH</div><div
                    class="Modal-close-button" (click)="close()"><svg stroke="currentColor"
                        fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                        font-size="20" class="Modal-close-icon" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg"><path
                            fill="none" d="M0 0h24v24H0z"></path><path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></div></div></div><div
            class="divider"></div><div><div class="Modal-body"><div
                    class="Tab block"><div class="Tab-option muted active">Market</div><div
                        class="Tab-option muted">Trigger</div></div><div
                    class="relative"><div><div
                            class="Exchange-swap-section buy-input"><div
                                class="buy-input-top-row"><div class="text-gray">Close</div><div
                                    class="align-right"><span class="text-gray">Max</span><span
                                        class="Exchange-swap-label">:&nbsp;$17.97</span></div></div><div
                                class="Exchange-swap-section-bottom"><div
                                    class="Exchange-swap-input-container"><input
                                        type="number" min="0" placeholder="0.0"
                                        step="any" class="Exchange-swap-input"
                                        value><button type="button"
                                        class="Exchange-swap-max">MAX</button></div><div
                                    class="PositionEditor-token-symbol">USD</div></div></div></div></div><div
                    class="PositionEditor-info-box"><div
                        class="PositionEditor-keep-leverage-settings"><div
                            class="Switch-toggle-wrapper"><span
                                class="text-gray font-sm">Keep leverage at 1.10x</span><div
                                class="Switch-toggle checked"><div
                                    class="handle"></div></div></div></div><div><div
                            class="Exchange-info-row"><div
                                class="Exchange-info-label"><span
                                    class="Tooltip"><span class="Tooltip-handle">Allowed
                                        Slippage</span></span></div><div
                                class="align-right "><div
                                    class="Slippage-input-wrapper"><div
                                        class="Slippage-input"><input
                                            id="slippage-input"
                                            placeholder="0.3" value="0.3"><label
                                            for="slippage-input"><span>%</span></label></div></div></div></div></div><div
                        class="Exchange-info-row top-line"><div
                            class="Exchange-info-label">Mark Price</div><div
                            class="align-right ">$1,637.30</div></div><div
                        class="Exchange-info-row"><div
                            class="Exchange-info-label">Entry Price</div><div
                            class="align-right ">$1,636.97</div></div><div
                        class="Exchange-info-row"><div
                            class="Exchange-info-label">Price Impact</div><div
                            class="align-right ">0.00%</div></div><div
                        class="Exchange-info-row"><div
                            class="Exchange-info-label">Acceptable Price</div><div
                            class="align-right ">-</div></div><div
                        class="Exchange-info-row SwapBox-info-row"><div
                            class="Exchange-info-label">Liq. Price</div><div
                            class="align-right ">$241.02</div></div><div
                        class="Exchange-info-row top-line"><div
                            class="Exchange-info-label">Size</div><div
                            class="align-right ">$17.97</div></div><div
                        class="Exchange-info-row"><div><span class="Tooltip"><span
                                    class="Tooltip-handle"><span
                                        class="Exchange-info-label">Collateral
                                        (USDC)</span></span></span></div><div
                            class="align-right">$16.34</div></div><div
                        class="Exchange-info-row"><div
                            class="Exchange-info-label">PnL</div><div
                            class="align-right ">&lt; +$0.01 (+0.02%)</div></div><div
                        class="Exchange-info-row TradeFeesRow"><div
                            class="Exchange-info-label">Fees and Price Impact</div><div
                            class="align-right "><span
                                class="Tooltip TradeFeesRow-tooltip"><span
                                    class="Tooltip-handle"><span class> -$0.81</span></span></span></div></div><div
                        class="Exchange-info-row Exchange-info-row PositionSeller-receive-row  top-line"><div
                            class="Exchange-info-label">Receive</div><div
                            class="align-right "><div
                                class="TokenSelector PositionSeller-token-selector"><div
                                    class="TokenSelector-box"><span
                                        class="PositionSelector-selected-receive-token">0.0000&nbsp;USDC
                                        ($0.00)</span><svg stroke="currentColor"
                                        fill="currentColor" stroke-width="0"
                                        viewBox="0 0 24 24"
                                        class="TokenSelector-caret" height="1em"
                                        width="1em"
                                        xmlns="http://www.w3.org/2000/svg"><path
                                            d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg></div></div></div></div></div><div
                    class="Exchange-swap-button-container"><button
                        class="button primary-action w-full center" disabled>Enter
                        an amount</button></div></div></div></div></div>