<div>
  <div class="Exchange-swap-section buy-input">
    <div class="buy-input-top-row">
      <div class="text-gray">Pay</div>
      <div class="align-right clickable"><span class="text-gray">Balance</span></div>
    </div>
    <div class="Exchange-swap-section-bottom">
      <div class="Exchange-swap-input-container">
        <input type="number" min="0" placeholder="0.0" step="any" class="Exchange-swap-input" value />
      </div>
      <div class="PositionEditor-token-symbol">
        <div class="TokenSelector">
            <app-token-select></app-token-select>
        </div>
      </div>
    </div>
  </div>
</div>
