

.css-d0y2q1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    grid-area: subheader / subheader / subheader / subheader;
    padding-top: 0px;
}

.css-334yo {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    height: 100%;
    background-color: rgb(22, 26, 30);
    padding-left: 16px;
}

.css-1zojt0 {
    box-sizing: border-box;
    margin: 0px 12px 0px 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
}

.css-4cffwv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}


.css-1e07uyp {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
}

.css-11y6cix {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
}

.css-it75t1 {
    box-sizing: border-box;
    margin: 0px;
    position: relative;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    min-width: auto;
}

@media screen and (min-width: 767px) {
.css-b8wzr2 {
    margin-bottom: 0px;
}
}

.css-b8wzr2 {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 16px;
    border-right: 1px solid rgb(37, 41, 48);
    border-top-color: rgb(37, 41, 48);
    border-bottom-color: rgb(37, 41, 48);
    border-left-color: rgb(37, 41, 48);
}

.css-1fc8quz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    color: rgb(234, 236, 239);
    flex-direction: column;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

@media screen and (min-width: 767px) {
.css-1nxx0n5 {
    font-size: 24px;
}
}
.css-1nxx0n5 {
    box-sizing: border-box;
    margin: 0px 30px;
    min-width: 0px;
    font-size: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(246, 70, 93);
}

.draggableHandle {
    cursor: grab;
}

@media screen and (min-width: 767px) {
    .css-1e07uyp {
        margin-right: 0px;
    }
    }
    @media screen and (min-width: 767px) {
    .css-1e07uyp {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }
    }


@media screen and (min-width: 767px) {
.css-4o4zzy {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
}
.css-4o4zzy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-flow: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.css-1qjk4bj {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    position: relative;
    width: 100%;
}

.css-1qjk4bj .default-market-list-container {
    white-space: nowrap;
    overflow: auto hidden;
}

.css-1qjk4bj .default-market-list-container > div {
    display: inline-block;
    padding-right: 16px;
}

.css-1qjk4bj .label {
    font-size: 10px;
    margin-right: 4px;
    margin-bottom: 0px;
    color: rgb(132, 142, 156);
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}



.css-1qjk4bj .price-text {
    font-size: 12px;
    color: rgb(234, 236, 239);
}

.css-1qjk4bj .price-text {
    font-size: 12px;
    color: rgb(234, 236, 239);
}

.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}


.css-jqyqpe {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: help;
    color: rgb(132, 142, 156);
    border-bottom: 1px dotted rgb(132, 142, 156);
}

.css-1mlhsmb {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    position: relative;
    z-index: 1;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: rgb(234, 236, 239);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(22, 26, 30);
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    user-select: auto;
}

.css-q57e4p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    inset: 0px;
    padding-top: 40px;
    overflow: hidden auto;
}

.css-1su83z2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 4px;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 26, 30);
    grid-area: orderbook / orderbook / orderbook / orderbook;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
}

.css-1qrzxvp {
    box-sizing: border-box;
    margin: 5px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
}

.css-1qrzxvp#futuresOrderbook .orderbook-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1qrzxvp .orderbook-header {
    -webkit-box-align: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 16px;
    margin-bottom: 8px;
    position: relative;
    -webkit-box-pack: initial;
    justify-content: initial;
}

.css-1qrzxvp .orderbook-header {
    display: flex;
    -webkit-box-align: initial;
    align-items: initial;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: initial;
    justify-content: space-around;
}

.css-1qrzxvp .orderbook-header .orderbook-header-tips {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-sz6ky9 {
    height: 24px;
    flex: initial;
}

.css-sz6ky9 {
    margin: 0px 4px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    padding: 0px 4px;
    border: none;
    border-radius: 2px;
    width: 36px;
    min-width: auto;
    height: 32px;
    background-color: transparent;
    opacity: 1;
    flex: 1 1 0%;
}


.css-1qrzxvp .orderbook-tbheader {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
}

.css-1qrzxvp .orderbook-tbheader {
    display: flex;
    flex-direction: column;
    margin: 6px 13px 6px 0px;
}

.css-1qrzxvp .orderbook-tbheader .content {
    display: flex;
    height: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    color: rgb(132, 142, 156);
}

.css-1qrzxvp#futuresOrderbook .orderbook-tbheader .item {
    display: block;
    color: rgb(132, 142, 156);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

.css-1qrzxvp#futuresOrderbook .orderbook-tbheader .item {
    display: block;
    color: rgb(132, 142, 156);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

.css-1qrzxvp .orderlist-container {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.css-1qrzxvp .orderbook-list {
    position: relative;
    display: flex;
    flex: 1 1 0%;
}

.css-1qrzxvp .orderbook-progress {
    padding-left: 16px;
    padding-right: 16px;
}

.css-1qrzxvp .progress-container {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    height: 20px;
    -webkit-box-align: center;
    align-items: center;
    animation: 0.3s ease-out 0s 1 normal none running none;
    overflow: hidden;
}

.css-1qrzxvp#futuresOrderbook .orderbook-progress .row-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.css-1qrzxvp .orderbook-list .text {
    font-size: 12px;
    margin-left: 0px;
    flex: 1 1 0%;
    text-align: right;
    color: rgb(183, 189, 198);
    cursor: pointer;
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}

.css-1qrzxvp#futuresOrderbook .orderbook-ticker {
    display: flex;
    padding: 1px 16px;
    height: 33px;
    -webkit-box-align: center;
    align-items: center;
}

.css-1qrzxvp#futuresOrderbook .orderbook-ticker .contractPrice {
    display: flex;
    margin-right: 4px;
    font-size: 20px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
}

.css-1qrzxvp#futuresOrderbook .orderbook-ticker .markPrice {
    flex: 1 1 0%;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    color: rgb(183, 189, 198);
}

.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}

.css-16uvqqx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: help;
    color: rgb(132, 142, 156);
    border-bottom: 1px solid rgb(132, 142, 156);
}


/* orderForm */
.css-1tbdaim {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    overflow-y: initial;
    overflow-x: visible;
    position: fixed;
    bottom: 0px;
    height: 102px;
    background-color: rgb(30, 35, 41);
    grid-area: orderform / orderform / orderform / orderform;
}

.css-1ma0998 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(30, 35, 41);
    font-size: 14px;
}

.css-1ma0998 .flex-row.margin-leverage-or-title-row {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.css-1931k3h {
    box-sizing: border-box;
    display: flex;
    min-width: auto;
    flex: 1 1 0%;
    margin: 0px;
}

.css-l93ntu {
    box-sizing: border-box;
    margin: 0px 5px 0px 0px;
    min-width: 0px;
    flex: 1 1 0%;
    font-size: 12px;
    line-height: 24px;
    color: rgb(234, 236, 239);
    font-weight: 500;
    cursor: not-allowed;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(71, 77, 87);
    text-decoration: none;
    width: 64px;
    height: 24px;
    padding: 0px 4px;
    display: inline-block;
}

.css-l93ntu {
    box-sizing: border-box;
    margin: 0px 5px 0px 0px;
    min-width: 0px;
    flex: 1 1 0%;
    font-size: 12px;
    line-height: 24px;
    color: rgb(234, 236, 239);
    font-weight: 500;
    cursor: not-allowed;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(71, 77, 87);
    text-decoration: none;
    width: 64px;
    height: 24px;
    padding: 0px 4px;
    display: inline-block;
}

.css-1fymml5 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.css-8njaw9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.css-1guigjz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-align: center;
    align-items: center;
}

.css-1n7u5cf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
}

.css-15owl46 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
}

.css-95vmw7 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    color: rgb(71, 77, 87);
    width: 100%;
    box-shadow: none;
    overflow: hidden;
}

.css-cvzz48 {
    box-sizing: border-box;
    margin: 0px 24px 0px 0px;
    cursor: pointer;
    min-width: auto;
}

.css-cvzz48 .tab.active {
    color: rgb(240, 185, 11);
}

.css-cvzz48 {
    box-sizing: border-box;
    margin: 0px 24px 0px 0px;
    cursor: pointer;
    min-width: auto;
}

.css-cvzz48 .tab {
    color: rgb(132, 142, 156);
}

.css-cvzz48:last-of-type .tab {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-gnqbje {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
}

.css-1bzb8nq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: none;
}

.css-ybbx55 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    display: inline-block;
    outline: none;
}

.css-fr1clq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 16px;
    fill: rgb(132, 142, 156);
    cursor: pointer;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.css-11dcrd2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.css-k0k8nj {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    position: relative;
    width: 100%;
    align-content: center;
    font-size: 14px;
}

.css-k0k8nj .balance {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(132, 142, 156);
}

.css-mx5ldy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.css-k0k8nj .balance .value {
    margin-left: 4px;
    color: rgb(234, 236, 239);
}

.css-10nf7hq {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.css-15aftra {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.css-1wmiyp6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.css-n6ht4q {
    box-sizing: border-box;
    margin: 10px 0px 0px;
    min-width: 0px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(43, 49, 57);
    border: none !important;
}

.css-itzlyo {
    box-sizing: border-box;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgba(43, 47, 54, 0.8);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin: 0px;
}

.css-itzlyo .bn-input-prefix {
    flex-shrink: 0;
    margin-left: 8px;
    min-width: 48px;
    font-size: 14px;
    color: rgb(183, 189, 198);
}

.css-n6ht4q .bn-input-prefix > label {
    height: 22px;
}

.css-534kzi {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    color: rgb(132, 142, 156);
}

.css-j56bia {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-itzlyo input {
    color: rgb(234, 236, 239);
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

.css-itzlyo .bn-input-suffix {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 14px;
    color: rgb(132, 142, 156);
}

.css-n6ht4q .bn-input-suffix {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    margin-left: 4px;
}

.css-f5h6sg {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}

.css-1z6602 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: help;
    color: rgb(132, 142, 156);
    border-bottom: none rgb(132, 142, 156);
}

.css-y0i1k0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(240, 185, 11);
    cursor: pointer;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-vtuezl {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    color: rgb(234, 236, 239);
}

.css-n6ht4q {
    box-sizing: border-box;
    margin: 10px 0px 0px;
    min-width: 0px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(43, 49, 57);
    border: none !important;
}

.css-itzlyo {
    box-sizing: border-box;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgba(43, 47, 54, 0.8);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin: 0px;
}

.css-itzlyo .bn-input-prefix {
    flex-shrink: 0;
    margin-left: 8px;
    min-width: 48px;
    font-size: 14px;
    color: rgb(183, 189, 198);
}

.css-534kzi {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    color: rgb(132, 142, 156);
}

.css-itzlyo input {
    color: rgb(234, 236, 239);
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

.css-1wlt96c {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    background-color: inherit;
    opacity: 1;
    border: none !important;
}

.css-itzlyo .bn-input-suffix {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 14px;
    color: rgb(132, 142, 156);
}

.css-f5h6sg {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}

.css-1z6602 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: help;
    color: rgb(132, 142, 156);
    border-bottom: none rgb(132, 142, 156);
}

.css-y0i1k0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(240, 185, 11);
    cursor: pointer;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-vtuezl {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    color: rgb(234, 236, 239);
}

.css-6x4wrf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1ofwuxs {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
    width: 100%;
}

.css-1bt84oi {
    margin: 12px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(234, 236, 239);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    width: 100%;
    background-color: rgb(71, 77, 87);
}

.css-1bt84oi {
    margin: 12px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(234, 236, 239);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    width: 100%;
    background-color: rgb(71, 77, 87);
}

@media screen and (min-width: 767px) {
    .css-cvzz48 {
        margin-right: 16px;
    }
}


@media screen and (min-width: 1023px) {
.css-1tbdaim {
    height: 100%;
}
}
@media screen and (min-width: 1023px) {
    .css-jqyqpe {
        border-bottom: none;
    }
    }
    @media screen and (min-width: 767px) {
    .css-jqyqpe {
        border-bottom: 1px dotted;
    }
    }

    @media screen and (min-width: 767px) {
        .css-1qjk4bj .label {
            margin-right: 0px;
            margin-bottom: 2px;
        }
        }